<div class="clr-form-control">
  <label
    class="clr-control-label"
    *ngIf="showLabelAndDescription"
    [for]="inputTypeHelper.asPhoneInput(inputConfig).formControlName"
  >
    {{ inputTypeHelper.asPhoneInput(inputConfig).label }}
    <span
      class="required-text"
      *ngIf="inputTypeHelper.asPhoneInput(inputConfig).rules?.isRequired"
    >
      (*)
    </span>
  </label>
  <div class="clr-control-container">
    <div class="clr-input-wrapper">
      <app-intl-tel-input
        [tabIndex]="inputConfig?.formControlIndex"
        [controlClass]="inputTypeHelper.asPhoneInput(inputConfig).classes"
        [control]="control"
        [required]="inputConfig?.rules?.isRequired"
        [disabled]="inputConfig.disabled"
        [preferredCountries]="['tg', 'bj', 'gh']"
        [initialCountry]="'tg'"
      ></app-intl-tel-input>
    </div>
    <clr-control-error
      class="field-has-error"
      *ngIf="control.hasError('required') && control.touched"
    >
      <span [translate]="'validation.required'"></span>
    </clr-control-error>
    <clr-control-error
      class="field-has-error"
      *ngIf="control.hasError('invalidPhoneNumber')"
    >
      <span
        [translate]="'validation.phone'"
        [translateParams]="{ value: '(Ex: 228 90050505)' }"
      ></span>
    </clr-control-error>
    <clr-control-helper
      *ngIf="inputConfig.descriptionText && showLabelAndDescription"
    >
      <span [innerHTML]="inputConfig.descriptionText | safeWebContent"></span>
    </clr-control-helper>
  </div>
</div>
