<video
  #videoElement
  [attr.width]="width"
  [attr.height]="height"
  class="hidden-video"
  autoplay
  loop
  muted
  playsinline
></video>
<ng-container *ngIf="state$ | async as vm">
  <div [ngClass]="canvasCss(vm)">
    <canvas #canvasElement></canvas>
  </div>
  <ng-container *ngIf="!vm.hasError">
    <div *ngIf="!vm.hasCanvas">
      <ng-content select="[cameraloading]"></ng-content>
    </div>
  </ng-container>
  <!--  -->
  <ng-container *ngIf="vm.hasError">
    <ng-content select="[cameraerror]"></ng-content>
  </ng-container>
  <!--\  -->
  <!--  -->
  <ng-container
    *ngIf="
      startFaceDetectionRef &&
      !vm.hasCanvas &&
      !vm.hasError &&
      !vm.loadingModel &&
      !vm.loadingCamera
    "
  >
    <ng-container
      *ngTemplateOutlet="startFaceDetectionRef; context: { $implicit: runFaceDetection.bind(this)}"
    ></ng-container>
  </ng-container>
  <!--\  -->
</ng-container>
